
<div class="home-container">
 <app-sidenav></app-sidenav>
<div class="home-content">
  <div class="container-fluid">
    <div class="row">
    <div class="Header-Home">
      <div class="row">
      <div class="col-sm-6">
        <b> <i>Home</i></b>
      </div>
      <div class="col-sm-6 text-end">
        <app-header></app-header>
      </div>
      </div>
</div>
</div>
       <div class="Card-content">
          <div class="row">
            <div class="col-sm-3 card-div">
                          <p> Prashant</p>
                        <span>Employe</span>
            </div>
 
            <div class="col-sm-3 card-div">
                      <p> Prashant</p>
                      <span></span>
            </div>
            <div class="col-sm-3 card-div">
                     <p> Prashant</p>
                    <span></span>
            </div>
           
          </div>   
       </div>
    
 </div>
</div>

</div>